[submodule ".vim/pack/plugins/start/vim-visual-multi"]
	path = .vim/pack/plugins/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule ".vim/pack/plugins/start/vim-easy-align"]
	path = .vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule ".vim/pack/plugins/start/vim-abolish"]
	path = .vim/pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/pack/plugins/start/golden-ratio"]
	path = .vim/pack/plugins/start/golden-ratio
	url = https://github.com/roman/golden-ratio
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/start/vim-terminal-help"]
	path = .vim/pack/plugins/start/vim-terminal-help
	url = https://github.com/skywind3000/vim-terminal-help
[submodule ".vim/pack/plugins/start/melange"]
	path = .vim/pack/plugins/start/melange
	url = https://github.com/savq/melange
[submodule ".vim/pack/plugins/start/vim-rooter"]
	path = .vim/pack/plugins/start/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule ".config/nvim/pack/plugins/start/gitsigns.nvim"]
	path = .config/nvim/pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule ".config/nvim/pack/plugins/start/registers.nvim"]
	path = .config/nvim/pack/plugins/start/registers.nvim
	url = https://github.com/tversteeg/registers.nvim
[submodule ".config/nvim/pack/plugins/start/range-highlight.nvim"]
	path = .config/nvim/pack/plugins/start/range-highlight.nvim
	url = https://github.com/winston0410/range-highlight.nvim
[submodule ".config/nvim/pack/plugins/start/which-key.nvim"]
	path = .config/nvim/pack/plugins/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule ".config/nvim/pack/plugins/start/nvim-colorizer.lua"]
	path = .config/nvim/pack/plugins/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule ".config/nvim/pack/plugins/start/nvim-notify"]
	path = .config/nvim/pack/plugins/start/nvim-notify
	url = https://github.com/rcarriga/nvim-notify
[submodule ".config/nvim/pack/plugins/start/plenary.nvim"]
	path = .config/nvim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".config/nvim/pack/plugins/start/nvim-lspconfig"]
	path = .config/nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".config/nvim/pack/plugins/start/nvim-cmp"]
	path = .config/nvim/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule ".config/nvim/pack/plugins/start/cmp-vsnip"]
	path = .config/nvim/pack/plugins/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule ".config/nvim/pack/plugins/start/vim-vsnip"]
	path = .config/nvim/pack/plugins/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule ".config/nvim/pack/plugins/start/cmp-nvim-lsp"]
	path = .config/nvim/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule ".config/nvim/pack/plugins/start/cmp-buffer"]
	path = .config/nvim/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule ".config/nvim/pack/plugins/start/cmp-path"]
	path = .config/nvim/pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule ".config/nvim/pack/plugins/start/telescope.nvim"]
	path = .config/nvim/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".vim/pack/plugins/start/defun.vim"]
	path = .vim/pack/plugins/start/defun.vim
	url = https://github.com/PyGamer0/defun.vim
[submodule ".vim/pack/plugins/start/vim-sensible"]
	path = .vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/pack/plugins/start/rainbow"]
	path = .vim/pack/plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule ".vim/pack/plugins/start/arm64asm-vim"]
	path = .vim/pack/plugins/start/arm64asm-vim
	url = https://github.com/compnerd/arm64asm-vim
[submodule ".vim/pack/plugins/start/decino.vim"]
	path = .vim/pack/plugins/start/decino.vim
	url = https://github.com/PyGamer0/decino.vim
[submodule ".vim/pack/plugins/start/colorscheme_changer.vim"]
	path = .vim/pack/plugins/start/colorscheme_changer.vim
	url = https://github.com/PyGamer0/colorscheme_changer.vim
[submodule ".vim/pack/plugins/start/everforest"]
	path = .vim/pack/plugins/start/everforest
	url = https://github.com/sainnhe/everforest
[submodule ".config/nvim/pack/plugins/start/mason.nvim"]
	path = .config/nvim/pack/plugins/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
